<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Advice of the Day</title>
  </head>
  <body>
    <h1>Hello, it is a <%= dayType %>. <%= advice %></h1>
  </body>
</html>
